/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

#postColor {
    margin-top: 3rem;   
    width: 100%;
}

/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #postColor {
        margin-top: 6rem;   
        width: 70%;
    }
}
/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
 /* Original CSS */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    padding-bottom: 4px;
}

.navbar {
    background-color: transparent;
}

#brandName, #cardTitle,#postMainHeading, #postHeadings, #postBold, #postCode, #hrLine{
    color: #af009f;
}

.active, .btn{
    background-color: #af009f;
}

#navItemHover:hover {
    color: #af009f;
}

.btn, #navItemHover, #postColor{
    color: white;
}

.btn:hover{
    color: black;
}

#navbarShadow {
    box-shadow: 1px 1px 1px 1px #af009f;
}

#postLinks {
    color: white;
    text-decoration-line:underline; 
}
#postLinks:hover { 
    color: #af009f;
    text-decoration:none;
}

#postInitSpacing {
    margin-top: 3rem;
    text-indent: 5rem;
}

#postBold {
    font-weight: bold;
}

.img-fluid {
    border: 1px solid #af009f;
    margin: 2rem;
}

#postCode {
    font-size: 1rem;
}

#hrLine {
    border: 1px solid #af009f;
}



/* FOOTER */
.mini-footer {
    background:transparent;
    text-align:center;
    padding:16px 0;
    border-top: 1px solid #af009f;
}
.mini-footer p {
    margin:0;
    line-height:26px;
    font-size:15px;
    color:white;
}
.mini-footer p a {
    color:#af009f;  
}
.mini-footer p a:hover {
    color:#af009f;
    text-decoration: underline;
}