/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up) */
/* 
.jumbotron {
    background-image: url('https://images.pexels.com/photos/986772/pexels-photo-986772.jpeg');
    height: 35vh;
    width: 100%; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-align: center;
}

#jumbotronIcon {
    height: 4rem;
    width: 4rem;
    color: #af009f;
}

#jumbotronBrandName {
    font-size: 150%;
    text-shadow: 5px 5px 5px #af009f;
}   

#jumbotronLead {
    font-size: 65%;
}

#jumbotronBtn {
    font-size: 7px;
} */
/* 
@media (min-width: 576px) {
    .jumbotron {
        background-image: url('https://images.pexels.com/photos/986772/pexels-photo-986772.jpeg');
        height: 70vh;
        width: 100%; 
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        color: white;
        text-align: center;
    }
    
    #jumbotronIcon {
        height: 8rem;
        width: 8rem;
        color: #af009f;
    }
    
    #jumbotronBrandName {
        font-size: 250%;
        text-shadow: 5px 5px 5px #af009f;
    }   

    #jumbotronLead {
        font-size: 100%;
        font-weight: bold;
    }

    #jumbotronBtn {
        font-size: 15px;
    }
 } */

/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* .jumbotron {
        background-image: url('https://images.pexels.com/photos/986772/pexels-photo-986772.jpeg');
        height: 100vh;
        width: 100%; 
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        color: white;
        text-align: center;
    }
    
    #jumbotronIcon {
        height: 14rem;
        width: 14rem;
        color: #af009f;
    }
    
    #jumbotronBrandName {
        font-size: 400%;
        font-weight: bolder;
        text-shadow: 5px 5px 5px #af009f;
    }

    #jumbotronLead {
        font-size: 150%;
        font-weight: bolder;
    }

    #jumbotronBtn {
        font-size: 25px;
    } */
}

/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    padding-bottom: 4px;
}

.navbar {
    background-color: transparent;
}

#brandName{
    color: #af009f;
}

.active, .btn{
    background-color: #af009f;
}

#navItemHover:hover {
    color: #af009f;
}

.btn {
    color: white;
}

.btn:hover{
    color: black;
}


.jumbotron {
    background-image: url('https://images.pexels.com/photos/986772/pexels-photo-986772.jpeg');
    height: 100vh;
    width: 100%; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-align: center;
}

#jumbotronIcon {
    height: 14rem;
    width: 14rem;
    color: #af009f;
}

#jumbotronBrandName {
    font-size: 400%;
    font-weight: bolder;
    text-shadow: 5px 5px 5px #af009f;
}

#jumbotronLead {
    font-size: 150%;
    font-weight: bolder;
}

#jumbotronBtn {
    font-size: 25px;
}