html {
  font-size: 18px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Lato', sans-serif; /* this should be the rest of the output you got from Google fonts */
    color: #dbdbdb;
    background-color: #141414;
}

body {
  width: 750px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
    text-shadow: 3px 3px 1px black;
}

h2 {  
    font-size: 30px;
    line-height: 2;
    letter-spacing: 0.5px;
    text-align: center;
}

p, li, h4, h5 {
  font-size: 18px;    
  line-height: 2;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 24px;    
  line-height: 2;
  letter-spacing: 0.5px;
}


img {
  display: block;
  margin: 0 auto;
}

strong {
    color: sandybrown;
}

button {
  background-color: sandybrown;
  margin: 10px 320px ;
}