html {
  font-size: 1px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Lato', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li, h4, h3, h5 {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 0.5px;
}